{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block custom_style %}
    <style>.asteriskField {
        display: none;
    }</style>
{% endblock %}

{% block title %}
    전시회 등록
{% endblock %}

{% block top-main %}
    <section class="py-2 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">작품 등록</h1>
                <p class="lead text-muted">지금 오픈 갤러리 전시회 등록으로 <br> 나의 작품을 마음껏 뽐내 보세요!</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block center-main %}
    <div class="album py-5 bg-light">
        <div class="container" style="max-width: 500px">
            <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                {{ form | crispy }}

                <div class="d-flex justify-content-end my-3">
                    <button type="submit" class="btn btn-primary">전시회 등록</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}