{% extends 'base.html' %}
{% load humanize %}

{% block top-main %}
    <section class="py-2 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">세상의 오직 한 점</h1>
                <p class="lead text-muted">지금 오픈 갤러리 전시회 등록으로 <br> 나의 작품을 마음껏 뽐내 보세요!</p>
                {% if is_artist %}
                    {% if user.artist.is_confirmed == "C" %}
                        <a href="{% url 'exhibition:create' %}" class="btn btn-outline-secondary my-2">전시회 등록</a>
                    {% elif user.artist.is_confirmed == "W"%}
                        <p class="fw-light text-primary">현재 작가 신청 승인 대기 중 입니다.</p>
                    {% else %}
                        <p class="fw-light text-danger">현재 작가 신청이 거부되었습니다.</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}

{% block center-main %}
    <div class="row">
        <div class="col-md-9 text-center">
            {% if exhibition.poster %}
                <img src="{{ exhibition.poster.url }}" class="rounded img-fluid w-75"
                     alt="image load error">
            {% else %}
                <img src="{{ exhibition.artworks.last.picture.url }}" class="rounded img-fluid w-75"
                     alt="image load error">
            {% endif %}
        </div>

        <div class="col-md-3">
            <div class="position-sticky" style="top: 4.5rem;">
                <h1>{{ exhibition.title }} </h1>
                <p class="card-text fw-light mb-0 small">
                    {{ exhibition.artworks.first.title }} 외 {{ exhibition.artworks.count }}점
                </p>
                <p class="card-text fw-light mb-4 small">
                    {{ exhibition.start_date }} ~ {{ exhibition.end_date }}
                </p>


                <img src="{{ exhibition.artist.picture.url }}" class="rounded img-fluid" alt="...">
                <div class="d-flex justify-content-between fw-light">
                    <p class="mb-0">{{ exhibition.artist }} 아티스트</p>
                    <p class="small mb-0">{{ exhibition.artist.birth }}</p>
                </div>
                <div class="d-flex justify-content-between fw-light small text-muted">
                    <p class="mb-0">{{ exhibition.artist.email }}</p>
                    <p class="small mb-0">{{ exhibition.artist.phone_number }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-4" data-masonry='{"percentPosition": true }'>
        {% for artwork in exhibition.artworks.all %}
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <img src="{{ artwork.picture.url }}" class="card-img-top" alt="image load error">

                    <div class="card-body">
                        <h5 class="card-title text-center">{{ artwork.title }}</h5>

                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text fw-light text-muted mb-0">{{ artwork.artist.name }}</p>
                            <p class="card-text fw-light text-muted mb-0 small">{{ artwork.created_at | naturaltime }}</p>
                        </div>

                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text fw-light mb-0">
                                {{ artwork.canvas_size }}호
                                &nbsp;{{ artwork.price|intcomma }}원
                            </p>
                            <a role="button" class="btn btn-sm btn-outline-secondary"
                               href="{% url 'collection:artwork_detail' artwork.pk %}">더 알아보기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}