{% extends 'collection/base_create.html' %}
{% load crispy_forms_tags %}
{% load humanize %}


{% block title %}
    작품 등록
{% endblock %}

{% block top-main %}
    <section class="py-2 text-center container">
        <div class="row py-lg-2">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">작품 등록</h1>
                <p class="lead text-muted">세상의 오직 한 점! <br> 나의 작품을 마음껏 뽐내 보세요!</p>
            </div>
        </div>
    </section>
{% endblock %}

{% block center-main %}

    <div class="container" style="max-width: 500px">
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}

            {{ form | crispy }}

            <div class="d-flex justify-content-end my-3">
                <button type="submit" class="btn btn-primary" onclick="toNum()">등록</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block bottom-main %}
    <script>
        const input = document.querySelector('#id_price');

        input.addEventListener('keyup', function (e) {
            let value = e.target.value;
            value = Number(value.replaceAll(',', ''));
            if (isNaN(value)) {
                input.value = 0;
            } else {
                input.value = value.toLocaleString('ko-KR');
            }
        })

        function toNum() {
            input.value = parseInt(input.value.replaceAll(',', ''));
        }
    </script>
{% endblock %}