{% extends 'base.html' %}
{% load humanize %}
{% block center-main %}
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-9 text-center">
                    <img src="{{ artwork.picture.url }}" class="rounded img-fluid w-75" alt="...">
                </div>

                <div class="col-md-3">
                    <div class="position-sticky" style="top: 4.5rem;">
                        <h1>{{ artwork.title }} </h1>
                        <div class="d-flex justify-content-between fw-light">
                            <p class="mb-0">{{ artwork.canvas_size }}호</p>
                            <p class="small mb-0">{{ artwork.created_at | naturaltime }}</p>
                        </div>
                        <p>{{ artwork.price| intcomma }}원</p>

                        <div class="d-flex justify-content-between mt-5">
                            <p class="mb-0">{{ artwork.artist.name }}</p>
                            <p class="fw-light small mb-0">{{ artwork.artist.birth }}</p>
                        </div>
                        <img src="{{ artwork.artist.picture.url }}" class="rounded img-fluid" alt="...">
                        <div class="d-flex justify-content-between fw-light small text-muted">
                            <p class="mb-0">{{ artwork.artist.email }}</p>
                            <p class="small mb-0">{{ artwork.artist.phone_number }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}